p{
    font-family: 'Courier New' , 'Courier New', Courier, 
    monospace;
    font-size: 25px;
    color: rgb(30, 0, 255);
}

.ptitulo{
    font-family: 'Courier New' , 'Courier New', Courier, 
    monospace;
    font-size: 25px;
    color: rgb(47, 0, 255);
}